In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
ticker = yf.Ticker("t")
stock = ticker.actions
stock

            Dividends  Stock Splits
Date
1984-03-26   0.116667           0.0
1984-06-25   0.116667           0.0
1984-09-24   0.116667           0.0
1985-01-04   0.116667           0.0
1985-04-03   0.125000           0.0
...               ...           ...
2021-01-08   0.520000           0.0
2021-04-08   0.520000           0.0
2021-07-08   0.520000           0.0
2021-10-07   0.520000           0.0
2022-01-07   0.520000           0.0

[154 rows x 2 columns]

In [3]:
stock_split = stock["Stock Splits"].to_numpy()
stock_split

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 3., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0.])

In [4]:
stock_split_replaced = np.where(stock_split == 0, 1, stock_split)
stock_split_replaced

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 3., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 2., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 2., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1.])

In [5]:
stock_split_comp = np.cumprod(stock_split_replaced, axis=0)
stock_split_comp

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,
        3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  6.,  6.,
        6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,
        6.,  6.,  6.,  6.,  6., 12., 12., 12., 12., 12., 12., 12., 12.,
       12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12.,
       12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12.,
       12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12.,
       12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12.,
       12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12.,
       12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12.,
       12., 12., 12., 12., 12., 12., 12., 12., 12., 12., 12.])

In [6]:
stock["stocksplit_adj"] = stock_split_comp.tolist()
stock

            Dividends  Stock Splits  stocksplit_adj
Date
1984-03-26   0.116667           0.0             1.0
1984-06-25   0.116667           0.0             1.0
1984-09-24   0.116667           0.0             1.0
1985-01-04   0.116667           0.0             1.0
1985-04-03   0.125000           0.0             1.0
...               ...           ...             ...
2021-01-08   0.520000           0.0            12.0
2021-04-08   0.520000           0.0            12.0
2021-07-08   0.520000           0.0            12.0
2021-10-07   0.520000           0.0            12.0
2022-01-07   0.520000           0.0            12.0

[154 rows x 3 columns]

In [7]:
stock["div_adj"] = stock["Dividends"] * stock["stocksplit_adj"]
stock

            Dividends  Stock Splits  stocksplit_adj   div_adj
Date
1984-03-26   0.116667           0.0             1.0  0.116667
1984-06-25   0.116667           0.0             1.0  0.116667
1984-09-24   0.116667           0.0             1.0  0.116667
1985-01-04   0.116667           0.0             1.0  0.116667
1985-04-03   0.125000           0.0             1.0  0.125000
...               ...           ...             ...       ...
2021-01-08   0.520000           0.0            12.0  6.240000
2021-04-08   0.520000           0.0            12.0  6.240000
2021-07-08   0.520000           0.0            12.0  6.240000
2021-10-07   0.520000           0.0            12.0  6.240000
2022-01-07   0.520000           0.0            12.0  6.240000

[154 rows x 4 columns]

In [8]:
stock['year'] = stock.index.year
stock

            Dividends  Stock Splits  stocksplit_adj   div_adj  year
Date
1984-03-26   0.116667           0.0             1.0  0.116667  1984
1984-06-25   0.116667           0.0             1.0  0.116667  1984
1984-09-24   0.116667           0.0             1.0  0.116667  1984
1985-01-04   0.116667           0.0             1.0  0.116667  1985
1985-04-03   0.125000           0.0             1.0  0.125000  1985
...               ...           ...             ...       ...   ...
2021-01-08   0.520000           0.0            12.0  6.240000  2021
2021-04-08   0.520000           0.0            12.0  6.240000  2021
2021-07-08   0.520000           0.0            12.0  6.240000  2021
2021-10-07   0.520000           0.0            12.0  6.240000  2021
2022-01-07   0.520000           0.0            12.0  6.240000  2022

[154 rows x 5 columns]

In [9]:
stock_grp = stock.groupby(by=["year"]).sum()
stock_grp.tail(20)

      Dividends  Stock Splits  stocksplit_adj  div_adj
year
2003      1.369           0.0            48.0   16.428
2004      1.252           0.0            48.0   15.024
2005      1.292           0.0            48.0   15.504
2006      1.332           0.0            48.0   15.984
2007      1.420           0.0            48.0   17.040
2008      1.600           0.0            48.0   19.200
2009      1.640           0.0            48.0   19.680
2010      1.680           0.0            48.0   20.160
2011      1.720           0.0            48.0   20.640
2012      1.760           0.0            48.0   21.120
2013      1.800           0.0            48.0   21.600
2014      1.840           0.0            48.0   22.080
2015      1.880           0.0            48.0   22.560
2016      1.920           0.0            48.0   23.040
2017      1.960           0.0            48.0   23.520
2018      2.000           0.0            48.0   24.000
2019      2.040           0.0            48.0   24.480
2020      2.080           0.0            48.0   24.960
2021      2.080           0.0            48.0   24.960
2022      0.520           0.0            12.0    6.240

In [10]:
stock_grp["div_PCT_Change"] = stock_grp["div_adj"].pct_change(fill_method ='ffill')
stock_grp.tail(20)

      Dividends  Stock Splits  stocksplit_adj  div_adj  div_PCT_Change
year
2003      1.369           0.0            48.0   16.428        0.284240
2004      1.252           0.0            48.0   15.024       -0.085464
2005      1.292           0.0            48.0   15.504        0.031949
2006      1.332           0.0            48.0   15.984        0.030960
2007      1.420           0.0            48.0   17.040        0.066066
2008      1.600           0.0            48.0   19.200        0.126761
2009      1.640           0.0            48.0   19.680        0.025000
2010      1.680           0.0            48.0   20.160        0.024390
2011      1.720           0.0            48.0   20.640        0.023810
2012      1.760           0.0            48.0   21.120        0.023256
2013      1.800           0.0            48.0   21.600        0.022727
2014      1.840           0.0            48.0   22.080        0.022222
2015      1.880           0.0            48.0   22.560        0.021739
2016      1.920           0.0            48.0   23.040        0.021277
2017      1.960           0.0            48.0   23.520        0.020833
2018      2.000           0.0            48.0   24.000        0.020408
2019      2.040           0.0            48.0   24.480        0.020000
2020      2.080           0.0            48.0   24.960        0.019608
2021      2.080           0.0            48.0   24.960        0.000000
2022      0.520           0.0            12.0    6.240       -0.750000

In [11]:
median_growth = stock_grp["div_PCT_Change"].median()
median_growth

0.03435679383574508

In [12]:
lst_Div = stock_grp.at[2021,'Dividends']
lst_Div

2.08

In [13]:
exp_future_div = round(lst_Div * (1 + median_growth),2)
exp_future_div

2.15

In [14]:
# If you want to use the 10 year treasury yield today use this code
#bond = yf.Ticker("^TNX")
#hist = bond.history(period="today")
#risk_free_rate = round(hist.iloc[0]['Close']/100,4)
#risk_free_rate

0.0187

In [15]:
risk_free_rate = 0.03

In [16]:
# assume the avg return for sp500 = 11%
mkt_return = .11

In [17]:
MKT_Risk_prem = mkt_return - risk_free_rate
MKT_Risk_prem

0.08

In [18]:
beta = ticker.info["beta"]
beta

0.679168

In [19]:
COE = round(beta * MKT_Risk_prem + risk_free_rate,4)
COE

0.0843

In [20]:
fair_sharePrice = round(exp_future_div/(COE-median_growth),2)
fair_sharePrice

43.05

In [21]:
stock_price = ticker.history(period="today")
stock_price_close = round(stock_price.iloc[0]['Close'],4)
stock_price_close

27.31

In [27]:
# positive means undervalued, negative means overvalued
expected_gain_loss = fair_sharePrice/stock_price_close-1
expected_gain_loss = "{:.0%}".format(expected_gain_loss)
expected_gain_loss

'58%'